Question 1: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Question 2: Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

In [ ]:
def fact(n):
  dic={0:1}
  for i in range(1,n+1):
    dic[i]=i*dic[i-1]
  return dic[n]

print(fact(6))

720

Question 3: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
n=int(input())
dic={}
for i in range(1,n+1):
  dic[i]=i**2
print(dic)

7
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

Question 4: Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

In [ ]:
values=input()
l=values.split(',')
t=tuple(l)
print(values)

1,2
1,2

Question 5: Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

In [ ]:
class strings:
  def __init__(self):
    self.s=''
  def getstring(self):
    self.s=input()
  def printstring(self):
    print(self.s.upper())

obj=strings()
obj.getstring()
obj.printstring()

sdfe
SDFE

Question 6: Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

In [ ]:
import math
c=50
h=30
values=[]
nums=[x for x in input().split(',')]
print(nums)
for i in nums:
  values.append(round(math.sqrt((2*c*float(i))/h)))       #float() function converts the specified value into a floating point number.

print(values)

19,46,77
['19', '46', '77']
[8, 12, 16]

Question 7: Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡­Y-1. Example Suppose the following inputs are given to the program: 3,5 Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
input_val=input()
vals=[int(x) for x in input_val.split(',')]
x=vals[0]
y=vals[1]
output=[[0 for y in range(y)] for x in range(x)]

for i in range(x):
  for j in range(y):
    output[i][j] = i*j

print(output)

8,9
[[0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 2, 4, 6, 8, 10, 12, 14, 16], [0, 3, 6, 9, 12, 15, 18, 21, 24], [0, 4, 8, 12, 16, 20, 24, 28, 32], [0, 5, 10, 15, 20, 25, 30, 35, 40], [0, 6, 12, 18, 24, 30, 36, 42, 48], [0, 7, 14, 21, 28, 35, 42, 49, 56]]

Question 8: Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

In [ ]:

words_1=sorted([x for x in input().split(',')])
print(words_1)

without,hello,bag,world Then, t
[' t', 'bag', 'hello', 'without', 'world Then']

Question 9： Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT

Question 10: Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

In [ ]:
word=sorted(set([x for x in input().split(' ')]))
print(word)

hello world and practice makes perfect and hello world again
['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

Question 11: Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence. Example: 0100,0011,1010,1001 Then the output should be: 1010 Notes: Assume the data is input by console.

In [ ]:
value = []
items=[x for x in input().split(',')]
for p in items:
    intp = int(p, 2)   #二进制转换成十进制
    if intp%5 ==0:
        value.append(p)
print(value)

 0100,0011,1010,1001
['1010']

Question 12: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
value=[]
for x in range(1000, 3001):
  digits=[int(i) for i in str(x)]
  k=0
  for j in range(len(digits)):
    if digits[j]%2 ==0:
      k+=1
  if k==len(digits):
    value.append(x)
print(value)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

Question 13: Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program: hello world! 123 Then, the output should be: LETTERS 10 DIGITS 3

In [ ]:
s=input()
dic={"DIGITS":0, "LETTERS":0}
for i in s:
  if i.isdigit():
    dic['DIGITS']+=1
  elif i.isalpha():
    dic['LETTERS']+=1     #+=1 should have 0 at first
  else:
    pass
print('LETTERS', dic['LETTERS'], 'DIGITS',dic['DIGITS'])

"DIGITS":0, "LETTERS":0
LETTERS 13 DIGITS 2

Question 14: Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program: Hello world! Then, the output should be: UPPER CASE 1 LOWER CASE 9

Question 15: Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a. Suppose the following input is supplied to the program: 9 Then, the output should be: 11106

In [ ]:
a=input()
b=int(a)+int(a*2)+int(a*3)+int(a*4)
print(b)

9
11106

Question 16: Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program: 1,2,3,4,5,6,7,8,9 Then, the output should be: 1,3,5,7,9

In [ ]:
nums=[x for x in input().split(',') if int(x)%2!=0]
print(';'.join(nums))       #The join() method takes all items in an iterable and joins them into one string.

1,2,3,4,5,6,7,8,9
1;3;5;7;9

Question 17: Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following: D 100 W 200

D means deposit while W means withdrawal. Suppose the following input is supplied to the program: D 300 D 300 W 200 D 100 Then, the output should be: 500

In [ ]:
trans=[x for x in input().split(' ')]
net=0
print(trans)
for i in range(0,len(trans),2):
  if trans[i] =='D':
    net+=int(trans[i+1])
  elif trans[i] =='W':
    net-=int(trans[i+1])
print(net)

D 300 D 300 W 200 D 100
['D', '300', 'D', '300', 'W', '200', 'D', '100', '']
500

Question 18: A website requires the users to input username and password to register. Write a program to check the validity of password input by users. Following are the criteria for checking the password:

At least 1 letter between [a-z]
At least 1 number between [0-9]
At least 1 letter between [A-Z]
At least 1 character from [$#@]
Minimum length of transaction password: 6
Maximum length of transaction password: 12 Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma. Example If the following passwords are given as input to the program: ABd1234@1,a F1#,2w3E*,2We3345 Then, the output of the program should be: ABd1234@1

In [ ]:
import re
value=[]
pws=[x for x in input().split(',')]
for i in pws:
  if len(i)<6 or len(i)>12:
    continue
  if not re.search('[a-z]',i):
    continue
  if not re.search('[A-Z]',i):
    continue
  if not re.search('[0-9]',i):
    continue
  if not re.search('[$#@]',i):
    continue
  if re.search('\s',i):
    continue
  else:
    value.append(i)
print(value)

ABd1234@1,a F1#,2w3E*,2We3345
['ABd1234@1']

Question 19: You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 1: Sort based on name; 2: Then sort based on age; 3: Then sort by score. The priority is that name > age > score. If the following tuples are given as input to the program: Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85 Then, the output of the program should be: [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [ ]:
from operator import itemgetter 

l = []
while True:
    s = input()
    if not s:
        break
    l.append(tuple(s.split(",")))

print(sorted(l, key=itemgetter(0,1,2)))

Jony,17,93

[('Jony', '17', '93')]

Question 20: Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

<class 'list'>

Question 21: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following: UP 5 DOWN 3 LEFT 3 RIGHT 2 ¡­ The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer. Example: If the following tuples are given as input to the program: UP 5 DOWN 3 LEFT 3 RIGHT 2 Then, the output of the program should be: 2

In [ ]:
import math
pos=[0,0]
while True:
  s=input()
  if not s:
    break
  movement=s.split(' ')
  dic=movement[0]
  step=int(movement[1])
  if dic=='UP':
    pos[0]+=step
  elif dic=='DOWN':
    pos[0]-=step
  elif dic=='LEFT':
    pos[1]-=step
  elif dic=='RIGHT':
    pos[1]+=step
  else:
    pass
print(int(round(math.sqrt(pos[0]**2+pos[1]**2))))

UP 5
LEFT 5

7

Question 22: Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically. Suppose the following input is supplied to the program: New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3. Then, the output should be: 2:2 3.:1 3?:1 New:1 Python:5 Read:1 and:1 between:1 choosing:1 or:2 to:1

In [ ]:
import collections
s=input()
list1=s.split(' ')
collections.Counter(list1)

New to Python or choosing between Python 2 and Python 3

Counter({'2': 1,
         '3': 1,
         'New': 1,
         'Python': 3,
         'and': 1,
         'between': 1,
         'choosing': 1,
         'or': 1,
         'to': 1})

Question 23: Write a method which can calculate square value of number

In [ ]:
def square(n):
  return n**2
print(square(9))

81

Question 25: Define a class, which have a class parameter and have a same instance parameter.

In [ ]:
class person:
  name='AB'
  
  def __init__(self,name):
    self.name=name

AC = person('AC')
print('%s name is %s' % (person.name, AC.name))

AB name is AC

In [ ]:
class Person:
    # Define the class parameter "name"
    name = "Person"
    
    def __init__(self, name = None):
        # self.name is the instance parameter
        self.name = name

jeffrey = Person("Jeffrey")
print("%s name is %s" % (Person.name, jeffrey.name))

Person name is Jeffrey

Question 26:

Define a function which can compute the sum of two numbers.

In [ ]:
def sum(n1,n2):
  return n1+n2

print(sum(4,5))

9

Question 27

Define a function that can convert a integer into a string and print it in console.

In [ ]:
def convert(n):
  print(str(n))

convert(9)

9

Question 29

Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

In [ ]:
def sum(s1,s2):
  print(int(s1)+int(s2))

Question 30

Define a function that can accept two strings as input and concatenate them and then print it in console.

In [ ]:
def concatenate(s1,s2):
  print(s1+s2)

Question 31

Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

In [ ]:
def printvalue(s1,s2):
  if len(s1)>len(s2):
    print(s1)
  elif len(s1)<len(s2):
    print(s2)
  else:
    print(s1)
    print(s2)

printvalue('diej;sld','dd')

diej;sld

Question 32

Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [ ]:
def printnumber(n):
  if n%2==0:
    print('even number')
  else:
    print('odd number')

printnumber(9)

odd number

Question 33
Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

In [ ]:
def printdic():
  dic={}
  for i in range(1,4):
    dic[i]=i**2
  print(dic)

printdic()

{1: 1, 2: 4, 3: 9}

Question 34

Define a function which can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

Question 35

Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

In [ ]:
def printdic():
  dic={}
  for i in range(1,4):
    dic[i]=i**2
  print(dic.values())

printdic()
#
# You can use the keys() method to return the keys of a dictionary:
# You can also use the values() method to return values of a dictionary:
# Loop through both keys and values, by using the items() method:    
#       for x, y in thisdict.items():
#         print(x, y)

dict_values([1, 4, 9])

Question 36

Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [ ]:
def printdic():
  dic={}
  for i in range(1,4):
    dic[i]=i**2
  for x in dic.keys():
    print(x)

printdic()

1
2
3

Question 37

Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

In [ ]:
def printnumber():
  l=[]
  for i in range (1,21):
    l.append(i**2)
  print(l)

printnumber()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Question 38

Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

In [ ]:
def printdic():
  l=[]
  for i in range (1,21):
    l.append(i**2)
  print(l[:5])

printdic()

[1, 4, 9, 16, 25]

Question 39

Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the last 5 elements in the list.

In [ ]:
def printdic():
  l=[]
  for i in range (1,21):
    l.append(i**2)
  print(l[-5:])

printdic()

[256, 289, 324, 361, 400]

Question 40

Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

In [ ]:
def printdic():
  l=[]
  for i in range (1,21):
    l.append(i**2)
  print(l[5:])

printdic()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Question 41

Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included).

In [ ]:
def printnumber():
  l=[]
  for i in range (1,21):
    l.append(i**2)
  t=tuple(l)
  print(tuple(t))
  print(type(t))

printnumber()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)
<class 'tuple'>

Question 42

With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [ ]:
tp=(1,2,3,4,5,6,7,8,9,10)
print(tp[:5])
print(tp[5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

Question 43

Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).

In [ ]:
tp=(1,2,3,4,5,6,7,8,9,10)
lst=[x for x in tp if x%2==0]
print(lst)

[2, 4, 6, 8, 10]

Question 44

Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No".

In [ ]:
s=input()
if s.upper()=='YES':
  print('Yes')
else:
  print('No')

die
No

Question 45

Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

In [ ]:
# filter(function, iterable)
del list
l=[1,2,3,4,5,6,7,8,9,10]
even=list(filter(lambda x: x%2==0, l))
print(even)

[2, 4, 6, 8, 10]

Question 46

Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
sqr = list(map(lambda x: x**2, l)) 
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
fibonacci = [0,1,1,2,3,5,8,13,21,34,55]
odd_numbers = list(filter(lambda x: x % 2, fibonacci))
print(odd_numbers)

[1, 1, 3, 5, 13, 21, 55]

Question 47

Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
newl=list(map(lambda x: x**2, filter(lambda x:x%2==0,l)))
print(newl)

[4, 16, 36, 64, 100]

Question 48

Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).

In [ ]:
even=list(filter(lambda x: x%2==0, range(1,21)))
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Question 49

Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).

In [ ]:
sqr=list(map(lambda x: x**2, range(1,21)))
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Question 50

Define a class named American which has a static method called printNationality.

In [ ]:
class American(object):
  1

Question 51

Define a class named American and its subclass NewYorker.

Question 52

Define a class named Circle which can be constructed by a radius. The Circle class has a method which can compute the area.

In [ ]:
class circle:
  def __init__(self,r):
    self.radius=r
  
  def area(self,r):
    return r**2*3.14

c=circle(1)
c.area(4)

50.24

Question 53

Define a class named Rectangle which can be constructed by a length and width. The Rectangle class has a method which can compute the area.

In [ ]:
class rectangle:
  def __init__ (self, l, w):
    self.length=l
    self.width=w
  def area(self):
    return self.length*self.width

r=rectangle(3,4)
r.area()

12

Question 54

Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

In [ ]:
class shape:
  def __init__(self):
    pass
  def area(self):
    return 0
  
class Square(shape):
  def __init__(self,l):
    shape.__init__ (self)
    self.length=l

  def area(self):
    return self.length**2

s=Square(3)
s.area()

9

Question 55

Please raise a RuntimeError exception.

In [ ]:
raise RuntimeError('something wrong')

Question 58

Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.

Example: If the following email address is given as input to the program:

john@google.com

Then, the output of the program should be:

john

In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
s=input()
index=s.find('@')
print(s[:index])

username@companyname.com
username

Question 59

Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

Question 60

Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.

Question 64

Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

In [ ]:
n=int(input())
sum=0
for i in range (1,n+1):
  sum+= i/(i+1)
print(sum)

5
3.5500000000000003

Question 65

Write a program to compute:

f(n)=f(n-1)+100 when n>0 and f(0)=1

with a given n input by console (n>0).

In [ ]:
n=int(input())
def f(n):
  if n==0:
    return 0
  else:
    return f(n-1)+100
  
print(f(n))

4
400

Question 66

The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0 f(n)=1 if n=1 f(n)=f(n-1)+f(n-2) if n>1

Please write a program to compute the value of f(n) with a given n input by console.

In [ ]:
n=int(input())
fib=[0,1]
def f(n):
  if n==0:
    return fib[0]
  elif n==1:
    return fib[1]
  else:
    for i in range(2,n+1):
      fib.append(fib[i-1] + fib[i-2])
    return fib[n]

print(f(n))

88
1100087778366101931

Question 67

The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0 f(n)=1 if n=1 f(n)=f(n-1)+f(n-2) if n>1

Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

In [ ]:
n=int(input())

def f(n):
  if n==0:
    return [0]
  elif n==1:
    return [0,1]
  else:
    fib=[0,1]
    for i in range(2,n+1):
      fib.append(fib[i-1] + fib[i-2])
    return fib



print(f(n))

0
[0]

Question 68

Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.

Question 74

Please generate a random float where the value is between 10 and 100 using Python math module.

In [ ]:
import random
print(random.uniform(10,100))   #The uniform() method returns a random floating number between the two specified numbers (both included).

26.094799649811275

Question 75

Please generate a random float where the value is between 5 and 95 using Python math module.

Question 76

Please write a program to output a random even number between 0 and 10 inclusive using random module and list comprehension.

In [ ]:
import random
print(random.choice([i for i in range(0,11) if i%2==0]))      
#The choice() method returns a randomly selected element from the specified sequence.
#The sequence can be a string, a range, a list, a tuple or any other kind of sequence.

10

Question 77

Please write a program to output a random number, which is divisible by 5 and 7, between 0 and 10 inclusive using random module and list comprehension.

In [ ]:
print(random.choice([i for i in range(0,11) if i%5==0 and i%7==0]))

0

Question 78

Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [ ]:
print(random.choices([i for i in range(100,201)],k=5))
print(random.sample(range(100,201), 5))   #The sample() method returns a list with a randomly selection of a specified number of items from a sequnce.

[184, 144, 138, 185, 197]
[112, 161, 159, 194, 151]

Question 79

Please write a program to randomly generate a list with 5 even numbers between 100 and 200 inclusive.

In [ ]:
print(random.sample([i for i in range(100,201) if i%2==0], 5))

[158, 130, 118, 106, 126]

Question 80

Please write a program to randomly generate a list with 5 numbers, which are divisible by 5 and 7 , between 1 and 1000 inclusive.

In [ ]:
print(random.sample([i for i in range(1001) if i%5==0 and i%7==0], 5))

[70, 735, 980, 525, 140]

Question 81

Please write a program to randomly print a integer number between 7 and 15 inclusive.

In [ ]:
print(random.randint(7,16))

12

Question 82

Please write a program to compress and decompress the string "hello world!hello world!hello world!hello world!".

Question 84

Please write a program to shuffle and print the list [3,6,7,8].

In [ ]:
l=[3, 6, 7, 8]
random.shuffle(l)
print(l)

[6, 8, 7, 3]

Question 86

Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

In [ ]:
subject= ["I", "You"] 
verb=["Play", "Love"] 
objects=["Hockey","Football"]
for i in range(len(subject)):
  for j in range(len(verb)):
    for k in range(len(objects)):
      sentence='%s %s %s' % (subject[i], verb[j], objects[k])
      print(sentence)

I Play Hockey
I Play Football
I Love Hockey
I Love Football
You Play Hockey
You Play Football
You Love Hockey
You Love Football

Question 87

Please write a program to print the list after removing delete even numbers in [5,6,77,45,22,12,24].

In [ ]:
l=[5,6,77,45,22,12,24]
print([x for x in l if x%2!=0])

[5, 77, 45]

Question 88

By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

Question 89

By using list comprehension, please write a program to print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

In [ ]:
l=[12,24,35,70,88,120,155]
print([x for (i,x) in enumerate(l) if i%2!=0])

[24, 70, 120]

Question 90

By using list comprehension, please write a program generate a 358 3D array whose each element is 0.

Question 91

By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [ ]:
l=[12,24,35,70,88,120,155]
print([x for (i,x) in enumerate(l) if i not in (0, 4, 5)])

[24, 35, 70, 155]

Question 92

By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

In [ ]:
l=[12,24,35,24,88,120,155]
l.remove(24)
print(l)

[12, 35, 24, 88, 120, 155]

Question 93

With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersection of the above given lists.

In [ ]:
l1=[1,3,6,78,35,55] 
l2=[12,24,35,24,88,120,155]
out=[]
for i in range(len(l1)):
  for j in range(len(l2)):
    if l1[i]==l2[j]:
      out.append(l1[i])
print(out)

[35]

Question 94

With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

In [ ]:
l=[12,24,35,24,88,120,155,88,120,155]
res=[]
for item in l:
  if item not in res:
    res.append(item)

print(res)

[12, 24, 35, 88, 120, 155]

Question 95

Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

In [ ]:
class Person:
  def getgender(self):
    return 'None'

class male(Person):
  def getgender(self):
    return 'male'
  
class female(Person):
  def getgender(self):
    return 'female'

m=male()
print(m.getgender())

male

Question 96

Please write a program which count and print the numbers of each character in a string input by console.

Example: If the following string is given as input to the program:

abcdefgabc

Then, the output of the program should be:

a,2 c,2 b,2 e,1 d,1 g,1 f,1

In [ ]:
import collections
s=input()
collections.Counter(s)

abcdefgabc

Counter({'a': 2, 'b': 2, 'c': 2, 'd': 1, 'e': 1, 'f': 1, 'g': 1})

Question 97

Please write a program which accepts a string from console and print it in reverse order.

In [ ]:
s=input()
print(s[::-1])

rite a progra\
\argorp a etir

Question 98

Please write a program which accepts a string from console and print the characters that have even indexes.

In [ ]:
s=input()
l=[k for k in s]
print(l)
print([x for (i ,x) in enumerate(l) if i%2==0])

oijoi
['o', 'i', 'j', 'o', 'i']
['o', 'j', 'i']

Question 100

Write a program to solve a classic ancient Chinese puzzle: We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?

In [ ]:
def chick_rabbit(nheads, nlegs):
  chick_n=nheads-rabbit_n